@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }